
<div class="container mt-5">
    <form action="/" method="POST">
        <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" name="name" value=""/>
        </div>
        <div class="form-group">
            <label for="Usage">Usage string</label>
            <input type="text" class="form-control" name="usage" value=""/>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" name="button">Calculate</button>
    </form>
    <p class="mt-3 lead">Phone bill total: <span class="btn btn-primary">R{{calculate}}</span></p>
</div>





    

