
<div class="container mt-5">
  <form action="/link_user" method="POST">
    <div class="form-group">
      <label for="name">Username</label>
      <input type="text" class="form-control" name="allocate_user_name" value="" />
    </div>
    <div class="form-group">
      <select class="dropDown" name="price_plans">
        <option value="">Select Plan</option>
        <option value="Plan A">Plan A</option>
        <option value="Plan B">Plan B</option>
        <option value="Plan C">Plan C</option>
      </select>
    </div>
    <br />
    <button
      type="submit"
      class="btn btn-primary"
      name="button"
    >Allocate</button>
  </form>
</div>